body	{ 
	width: 560px; 
    height: 400px; 
	background-image: url('https://thefalconpress.org/wp-content/uploads/2019/01/Rain-900x691.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-x;
    
    animation: animatedBackground 40s linear infinite;
    background-size: cover;
}

iframe{
    align-self: center;
    margin-top: 1vw;
    margin-left: 40vw;

}

button{
    background-color: rgba(255, 255, 255, 0.103);
    outline: none;
    border: none;
    font-style: bold;
    padding: 10px 30px;
    position: fixed;
    margin-left: 40vw;

}

h2{
    margin-left : 38vw;
    font-family: 'Helvetica';
    color: darkblue;
    width: 100%;
    text-align: center;
}


p{
    position: fixed;
    bottom: 0px;
    transition: transform 0.2s;
    margin-left: 40vw;
}

p:hover{
    transform: scale(2,2);
    background-color: rgba(13, 112, 54, 0.555);
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}